html,
body {
  overflow-x: hidden; /* Prevent horizontal scroll on narrow devices */
  overflow-y: auto; /* Add vertical scroll if navbar is really long */
}
body {
  padding-top: 70px;
}

/**
 * Off Canvas Styling
 */
@media (max-width: 543px) {
  .offcanvas-wrapper {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .offcanvas-wrapper-right {
    right: 0;
  }

  .offcanvas-wrapper-right.active {
    right: 50%;
  }

  .offcanvas-navbar {
    padding:13px;
    border-left: 1px solid #eee;
    height: 300%;
    right: -50%;
    display: block; 
    position: absolute;
    top: 50px; 
    bottom: 0; 
    width: 50%;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .offcanvas-navbar.active {
    
    right: 0;
  }

  .navbar-toggler {
      float: right;
      outline: darkgray;
  }

  .navbar-toggler:focus {
    outline: none;
    background-color: darkgray;
  }

}